/* src/assets/scss/footer.scss */

#footer {
  background-color: var(--black300);
  color: var(--white600);
  padding: 20px 0;

  /* 패딩 조정 */
  font-family: "BMJUA";
  margin-top: 50px;

  /* header와의 간격 맞추기 */

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: calc(100% - 170px);

    /* header와 동일한 너비 설정 */
    margin: 0 auto;
    padding: 0 85px;

    /* header와 동일한 좌우 패딩 */
    box-sizing: border-box;

    .footer-left {
      max-width: 60%;

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--white);
      }

      p {
        font-size: 14px;
        margin: 5px 0;
        line-height: 1.6;
      }
    }
    .footer-right {
      text-align: right;
      margin-top: 30px;

      p {
        font-size: 14px;
        margin: 5px 0;

        /* 변경된 여백 설정 */
      }

      a {
        color: var(--white600);
        text-decoration: none;
        margin-left: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* 반응형 설정 */
@media (max-width: 1200px) {
  .footer-container {
    padding: 0 40px; /* 좌우 패딩 줄이기 */
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 20px; /* 좌우 패딩 더 줄이기 */
  }

  .footer-left {
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .footer-right {
    p {
      font-size: 12px;
    }

    a {
      margin-left: 5px;
    }
  }
}

@media (max-width: 480px) {
  .footer-container {
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 0 10px; /* 좌우 패딩 최소화 */
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
    margin-top: 10px;
  }

  .footer-left {
    h2 {
      font-size: 18px;
    }

    p {
      font-size: 10px;
    }
  }

  .footer-right {
    p {
      font-size: 10px;
    }

    a {
      margin-left: 5px;
    }
  }
}
